<a href="https://colab.research.google.com/github/Ashraful1Islam/MachineLearning_DataScience/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
1.0

1.0

In [ ]:
1

1

In [ ]:
1*3

3

In [ ]:
x = 1/2.0

In [ ]:
print(x)

0.5

In [ ]:
#indexing string
string='Hello'
print(string[0])
string1='abcdefghijk'
print(string1[0])
print(string1[0:])
print(string1[0:3])
print(string1[3:6])

H
a
abcdefghijk
abc
def

In [ ]:
#list and slicing
#we can assign like this [1,2,3]
# also like this ['a','b','c']
my_list=['a','b','c']
my_list.append('d')
print(my_list)
my_list[0]
my_list[1:3]
my_list[0]='NEW'
print(my_list)

# nested list
nest=[1,2,[3,4]]
print(nest)
print(nest[2])
print(nest[2][1])

['a', 'b', 'c', 'd']
['NEW', 'b', 'c', 'd']
[1, 2, [3, 4]]
[3, 4]
4

In [ ]:
#dictionary
d={'key1':'value','key2':123}
print(d['key1'])
print(d['key2'])

value
123

In [ ]:
d={'k1':[1,2,3]}
my_list=d['k1']
print(my_list[0])
d['k1'][0]
# set(Collection of unique element)
s=set([1,1,1,2,2,3,3,3])
s.add(5)
print(s)

1
{1, 2, 3, 5}

In [ ]:
#if/else
if 1<2:
    print('yep!')
if 1==2:
    print('first')
else:
    print('last')

yep!
last

In [ ]:
#Loop,Function
seq=[1,2,3,4,5]
for num in seq:
  print('hello')

hello
hello
hello
hello
hello

In [ ]:
i=1
while i<5:
  print('i is:{}'.format(i))
  i=i+1

i is:1
i is:2
i is:3
i is:4

In [ ]:
for x in seq:
  print(x)

1
2
3
4
5

In [ ]:
for x in range(0,5):
      print(x)

list(range(5))

0
1
2
3
4

[0, 1, 2, 3, 4]

In [ ]:
x=[1,2,3,4]
out=[]
for item in x:
  out.append(item**2)
print(out)

[1, 4, 9, 16]

In [ ]:
#function
def my_func(param1):
  print(param1)

In [ ]:
my_func('hello')

hello

In [ ]:
def square(num):
  """
  This is a docstring.
  Can go multiple lines.
  This function squares a number.
  """
  return(num**2)

output=square(2)
print(output)

4

In [ ]:
def times2(var):
  return var*2

In [ ]:
times2(5)

10

In [ ]:
#map
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
def myfunc(a, b):
    return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

print(x)  # This prints the map object (not the actual result)

print(list(x))  # This converts the map object to a list and prints the result

def square(a):
  return a**2

result=[1,2,3,4,5]
output=map(square,result)
print(list(output))

#real life example of map
def add_tax(price):
    return price * 1.10  # 10% tax

prices = [100, 250, 70, 30]

final_prices = map(add_tax, prices)

print(list(final_prices))

# lambda use kora jai easily in map
t=lambda var1:var1*5
print(t(5))

list(map(lambda num:num*3,seq))#no need define to whole function

<map object at 0x79bfaa5fb820>
['appleorange', 'bananalemon', 'cherrypineapple']
[1, 4, 9, 16, 25]
[110.00000000000001, 275.0, 77.0, 33.0]
25

[3, 6, 9, 12, 15]

In [ ]:
#Filter Function
def is_even(n):
    return n % 2 == 0

numbers = [1, 2, 3, 4, 5, 6]

result = filter(is_even, numbers)

print(list(result))


seq=[1,2,3,4,5]
list(filter(lambda num:num%2==0,seq))

[2, 4, 6]

[2, 4]

In [ ]:
 #Methods