<a href="https://colab.research.google.com/github/Ashraful1Islam/MachineLearning_DataScience/blob/main/Pandas_DataFrame_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn ## For generating random numbers from a normal distribution

In [2]:
# Set a random seed to ensure reproducible results
# This means every time we run the code, we'll get the same random numbers
np.random.seed(101)

In [3]:
# Create a DataFrame with 5 rows and 4 columns filled with random numbers
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
# Display the DataFrame
df

In [ ]:
# Select column 'W' from the DataFrame
df['W']

In [ ]:
# Check the data type of column 'W' (it's a Series)
type(df['W'])

In [ ]:
# Check the data type of the full DataFrame
type(df)

In [ ]:
# Select multiple columns: 'W' and 'Z'
df[['W','Z']]

In [ ]:
# Create a new column called 'new' by adding columns 'W' and 'Y'
df['new']=df['W']+df['Y']
df

In [ ]:
# Drop the 'new' column (axis=1 means column)
df.drop('new',axis=1)

In [ ]:
# Drop row 'E' (axis=0 means row)
df.drop('E',axis=0)

In [14]:
# Get the shape of the DataFrame (rows, columns)
df.shape

(5, 5)

In [ ]:
# Access row labeled 'A' using .loc (label-based selection)
df.loc['A']

In [ ]:
# Access the 3rd row (index 2) using .iloc (position-based selection)
df.iloc[2]

In [ ]:
# Access a specific cell: row 'B' and column 'Y'
df.loc['B','Y']

In [ ]:
# Access a sub-section: rows ['A', 'B'] and columns ['W', 'Y']
df.loc[['A','B'],['W','Y']]